<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liscva.mettingroom.mapper.MrUserMapper">

    <select id="findUserList" resultType="com.liscva.mettingroom.entity.vo.UserInfo">
        select mu.user_code,mui.user_name,mui.user_email,mui.user_phone,mui.create_time
        from mr_user mu
        left join mr_user_info mui on mu.user_code = mui.user_code
    </select>
</mapper>
